@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Syne:wght@400..800&display=swap");
@import url("./assets/Satoshi-Regular.woff");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-size: clamp(14px, 1vw, 41px);
}

body {
  background-color: #fdfbf5;
  font-family: "Satoshi";
  color: #121212;
  padding: 0.7rem;
}

main {
  width: 100%;
  padding: 1rem;
  padding-top: 3rem;
  border: 1px solid #121212;
}

.page1 {
  width: 100%;
  padding: 1rem 0.5rem;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.page1 p {
  font-family: "Roboto Mono";
  text-transform: uppercase;
  font-weight: 350;
  font-size: 1rem;
}
.page1 h1 {
  font-family: "Syne";
  font-size: 4rem;
  font-weight: 500;
  line-height: 1;
}
.page1 img {
  width: 100%;
  border-radius: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  aspect-ratio: 2/1;
}

@media (min-width: 1024px) {
  body {
    padding: 1rem;
  }
  main {
    padding: 2rem;
  }
  .page1 h1 {
    font-size: 5rem;
  }
}